<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.dao.UserMapper">
    <!--public int insert(User user);-->
    <insert id="insert" >
        INSERT INTO tbl_user VALUES (DEFAULT,#{user_name},#{user_password});
    </insert>
    <!--public int update(User user);-->
    <update id="update">
        UPDATE tbl_user SET user_name=#{user_name},user_password=#{user_password} WHERE user_id=#{user_id}
    </update>
    <!--public int delete(int user_id);-->
    <delete id="delete">
        DELETE FROM tbl_user WHERE user_id=#{user_id}
    </delete>
    <!--public User selectById(int user_id);-->
    <select id="selectById" resultType="org.com.entity.User" >
        SELECT * FROM tbl_user WHERE user_id=#{user_id};
    </select>
    <!--public List<User> selectAll();-->
    <select id="selectAll" resultType="org.com.entity.User">
        SELECT * FROM tbl_user;
    </select>
</mapper>